body {
    /*Стилизуем текст всего сайта*/ 
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    min-width: 1200px;
    background-color: #ffffff;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
.page-header {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header-shop {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Скрытые заголовки*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.inner-page-title {
    width: 100%;
    height: 100px;
    font-size: 53px;
    font-family: inherit;
    text-align: center; 
    background-color: #eeeeee;
    margin: 0;
    margin-bottom: 35px;
    padding-bottom: 63px;
    padding-top: 78px;
    padding-right: 10px;
    color: #000000;
    line-height: 1;
    
}


/*Стилизуем ссылки в nav*/
.site-nav-link {
    text-decoration: none;
    color: black;
    list-style: none;
  }
.site-nav-link:hover {
    color: #fb565a;
}
.site-nav-link:active {
    color: rgba(0, 0, 0, 0.3);
}
.site-nav-link-active:hover {
    color: black;
}
.main-nav {
    display: flex;
    padding: 0px;
    flex-wrap: no-wrap;
    box-sizing: border-box;
    background-color: #eeeeee;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 280px;
    
    

}
.site-nav-link {
    display: block;
    padding: 12px 0;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.88;
}
.site-nav-link-active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fb565a;
}

.logo {
    padding-top: 43px;
    top: 50px;
    left:140px;
}
.logo:hover {
    opacity: 0.8;
}
.logo:active {
    opacity: 0.3;
}

.site-nav {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;   
    padding-top: 51px;
}
.site-nav-item {
    padding: 0 23px;
    
}
.basket {
    display: block;
    color: black;
    position: relative;
    left: 245px;
    top: 60px;
    margin-right: -34px;
    padding-top: 4px;
    padding-bottom: 10px;
    padding-left: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.88;
}
.basket::before {
    content: "";
    position:absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/svg-nerds/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 16%;
    left: -23px;
    transform: translateY(-50%);
    
}
.basket:hover {
    color: #fb565a;
}
.basket:active {
    color: rgba(0, 0, 0, 0.3);
}
/*стилизуем слайды*/
.slider {
    position: relative;
    padding: 0px;
    box-sizing: border-box;
    background-color: #eeeeee;
}
  
.slider-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.button {
    display: inline-block;
    padding-top: 19px;
    padding-right: 55px;
    padding-bottom: 18px;
    padding-left: 53px;
    vertical-align: middle;
    font: inherit;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.13;
    text-align: center;
    text-transform: uppercase;
    background-color: #fb565a;
    border-style: none;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 80px;
    border-radius: 2px;
}
.button:hover {
    background-color: #e74246;
}
.button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b
}
  
.slider-item {
    display: none;
    width: 1200px;
    height: 450px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    
}
  
.slider-item-active {
    display: block;
}
  
.slider-item:nth-of-type(1) {
    background-color: #eeeeee;
    background-image: url("../img/slide1-picture.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}
  
.slider-item:nth-of-type(2) {
    background-color: #eeeeee;
    background-image: url("../img/slide2-picture.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}
  
.slider-item:nth-of-type(3) {
    background-color: #eeeeee;
    background-image: url("../img/slide3-picture.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}
  
.slider-item-title {
    color: #000000;
    font-size: 55px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: normal;
    font-stretch: normal;
    font-style: normal;
}
.slider-text {
    width: 360px;
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 46px;
    margin-top: -30px;
}
  
.slider input[type="radio"] {
    display: none;
}
  
.slider-controls {
    position: absolute;
    bottom: 116px;
    right: 50%;
    transform: translateX(50%);
}
  
.slider-toogle-label {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 5px solid #ffffff;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s;
}
  
.slider-toogle:checked + .slider-toogle-label::before {
    content: "";
    position: absolute;
    bottom: 50%;
    right: 50%;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border: 3px solid #eeeeee;
    border-radius: 50%;
    transform: translateX(50%) translateY(50%);
}  
/*Стилизуем особенности*/




/*Наш сервис*/
.our-services{
    border-bottom: 2px solid #eeeeee;
    margin-top: -171px;
    margin-left: -66px;
}
.service-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 80px; 
}
.service {
    position: relative;
    width: 300px;
    margin-top: 165px;
    padding-top: 145px;
}

.service-title {
    font-size: 24px;
    line-height: 1.25;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
}
.service-desk {
    padding-bottom: 15px;
    margin-top: -6px;
    font-size: 16px;
    line-height: 1.5;
    color: black;
}
.service::before {
    content: "";
    position:absolute;
    width: 300px;
    height: 145px;
    display: block;
    top: -7px;
    background-color:#eeeeee;
}

.service-web::before {
    background-image: url("../img/illustration-1.jpg");
    background-repeat: no-repeat; 
    background-color: #fb565a;
    background-position: center;
}
.service-applications::before {
    background-image: url("../img/illustration-2.jpg");
    background-repeat: no-repeat;
    background-color: #00ca74; 
    background-position: center;
}
.service-presentations::before {
    background-image: url("../img/illustration-3.jpg");
    background-repeat: no-repeat; 
    background-color: #efc849;
    background-position: center;

}
/*Кнопки заказать в разных активностях*/
.order {
    display: block;
    width: 80px;
    height: 16px;
    line-height: 1.13;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font: inherit;
    padding-top: 15px;
    padding-right: 38px;
    padding-bottom: 17px;
    padding-left: 40px;
}
.order-web {
    background-color: #fb565a;
}
.order-web:hover {
    background-color:#e74246;
    
}
.order-web:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
    
}
.order-applications {
    background-color:#00ca74;
    color: #ffffff;
}
.order-applications:hover {
    background-color:#00bc6c;
    
}
.order-applications:active {
    background-color:#00aa62;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
    
}
.order-presentations {
    background-color:#efc84a;
    color: #ffffff;
}
.order-presentations:hover {
    background-color:#eab534;
    
}
.order-presentations:active {
    background-color:#e5a722;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
    
}
/*Наши преимущества*/
.about-company {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-bottom: 2px solid #eeeeee;
}
.about-company-text {
    display: flex;
    flex-direction: column;
    width: 660px;
}
.about-company-p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 35px;
}
.about-company-strong {
    font: inherit;
    display: block;
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    padding-top: 40px;
    padding-bottom: 35px;
}
.title-list {
    padding-top: 22px;
    padding-bottom: 35px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
}
.list-service {
    margin: 0;
    margin-top: -24px;
    margin-left: -3px;
    padding: 0px;
    line-height: 48px;
    list-style: none;
    margin-bottom: 80px;
}
.list-service li {
    position: relative;
    padding-left:40px;
}
.list-service li::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 2px;
    width: 25px;
    background-color: #fb565a;
    margin-left: 4px;
}

.indicators {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 360px;
    margin-left: auto;
    text-align: center;
    margin-top: 40px;
}
.indicators-caption {
    display: flex;
    padding-top: 40px;
    color: #000000;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    margin-left: 17px;
    margin-top: -19px;
}
.indicators-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}
.indicators-item {
    width: 105px;
    text-align: left;
    margin-bottom: 80px;
}
.indicators-item p {
    vertical-align: baseline;
}
.indicators-value {
    display: block;
    padding-top: 43px;
    padding-bottom: 18px;
    color: #000000;
    font-size: 45px;
    font-weight: bold;
    line-height: 0.22;
}
.indicators-value sup{
    vertical-align: bottom;
}



/*Наши партнёры*/
.our-partners {
    border-bottom: 1px solid #eeeeee;
}
.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    list-style: none;
    align-items: center;
    margin: 0;
    margin-top: -35px;
    margin-right: -15px;
    padding: 45px 0;
    border-bottom: 2px solid #eeeeee;
}
.partner-item {
    position: relative;
    flex-basis: 25%;
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    text-align: center;
}
.partner-item:not(:nth-of-type(4n+1))::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -2px;
    width: 2px;
    height: 52px;
    border-left: 2px solid #eeeeee;
    transform: translateY(50%);
}
.partner-logo {
    opacity: 0.2;
}
.partner-logo:hover {
    opacity:1;
}
.partner-logo:active {
    opacity:0.1;
}
/*Cтилизуем блок карты для главной страницы*/
.map {
    display: block;
    position: relative;

}
.iframe-map {
    margin-top: 80px;
    width: 100%;
    height: 415px;
    position: relative; 
}
.map-marker {
    position: absolute;
    left: 805px;
    top:100px;
}
.adress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 319px;
    height: 308px;
    background-color: white;
    box-sizing: border-box;
    margin-left: 20px;
    padding-top: 55px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    position: absolute;
    top: 131px;
    left: 352px;
}

.map-title {
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.67;
    width: 192px;
    height: 17px;
    margin-left: -31px;
}
.map-text {
    font-size: 16px;
    font-family: inherit;
    margin-top: 13px;
    margin-bottom: 41px;
    margin-left: 2px;
}

.map-phone-link {
    text-decoration: none;
    color: #000000;
}
.btn-contact {
    width: 220px;
    height: 50px;
    color: white;
    background-color: #fb565a;
    display: inline-block;
    padding-top: 13px;
    padding-right: 40px;
    padding-bottom: 13px;
    padding-left: 40px;
    font: inherit;
    font-weight: 500;
    line-height: 1.13;
    text-align: center;
    text-transform: uppercase;
    border-style: none;
    cursor: pointer;
    box-sizing: border-box;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 23px;
}
.btn-contact:hover {
    background-color: #e74246;
}
.btn-contact:active {
    opacity: 0.3;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
/*Cтилизуем блок карты для страницы католога*/
.map-catolog {
    margin-top: -67px;
    display: block;
    position: relative;
}
.map-marker-catolog {
    position: absolute;
    left: 755px;
    top:95px;
}
.adress-catolog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 319px;
    height: 308px;
    background-color: white;
    box-sizing: border-box;
    margin-left: 20px;
    padding-top: 55px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    position: absolute;
    top: 131px;
    left: 352px;
}

/*Стилизуем форму обратной связи*/

.write-us {
    display: none;
}
.write-us-show {
    width: 960px;
    height: 590px;
    display: block;
    animation: bounce 0.6s;
    position: absolute;
    top: 1684px;
    right: 465px;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    background-color: #ffffff;
}
.write-us-show-error {
    animation: shake 0.6s;
}
/*Анимация формы*/
@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
}
/*анимация формы при ошибке*/
@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
}
.write-us-form {
    position: relative;
    width: 960px;
    height: 590px;
}
.feedback {
    display: block;
    width: 307px;
    height: 33px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-left: 100px;
}
.feedback-column {
    display: flex;
    margin-left: 100px;
}
.feedback-label {
    display: block;
    padding-bottom: 12px;
    line-height: 1.13;
    font-weight: 700;
    color: #000000;
    margin-left: 100px;
}
.feedback-input-text,
.feedback-input-email {
    font: inherit;
    width: 360px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 15px;
    vertical-align: middle;
    color: rgba(68, 68, 68, 0.5);
    border: solid 2px #d7dcde;
}
.feedback-input-text {
    margin-right: 40px;
}
.feedback-textarea {
    resize: none;
    width: 760px;
    height: 118px;
    margin-bottom: 47px;
    box-sizing: border-box;
    border: solid 2px #d7dcde;
    margin-left: 100px;
}
  
.feedback-input-text:hover,
.feedback-input-email:hover,
.feedback-textarea:hover {
    border-color: #b4b9bb;
}
  
.feedback-input-text:focus,
.feedback-input-email:focus,
.feedback-textarea:focus {
    outline: 0;
    color: #444444;
    border-color: #000000;
}
  
.feedback-input-text:invalid,
.feedback-input-email:invalid,
.feedback-textarea:invalid {
    color: #e74246;
    border-color: #e74246;
}
.send {
    margin-left: 100px;
    margin-bottom: 85px;
    width: 260px;
    height: 50px;
    color: white;
    background-color: #fb565a;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
}
.send:hover {
    background-color: #e74246;
}
.send:active {
    opacity: 0.3;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.close  {
    position: absolute;
    width: 21px;
    height: 21px;
    opacity: 0.3;
    top: 76px;
    right: 90px;
    text-align: center;
    vertical-align: middle;
}
.close::before,
.close::after {
    position: absolute;
    left: 15px;
    content: "";
    height:21px;
    width: 21px;
    width: 2px;
    background-color:red;
    transform: translateX(849px), translateY(491px);
}
.close::before {
    transform: rotate(45deg);
    }
.close::after {
    transform: rotate(-45deg);
}
.close:hover {
    opacity: 1;
}
.close:active {
    opacity: 0.1;
}


/*страничка католога*/

.filters {
    width: 300px;
    padding: 0px;
    margin-top: 23px;
}
.store {
    display: flex;
    padding-top: 0px;
    padding-bottom: 60px;
}


/*Стилизуем блок Стоимость*/
.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    width: 260px;
    margin: 50px auto; 
}
.range-filter {
    width: 260px;
    margin-top: 53px;
    margin-bottom: 62px;
}
.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
.range-controls .toggle-min {
    left: 50px;
} 
.range-controls .toggle-max {
    left: 110px;
}
.price-controls {
    font-size: 0;
}
.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
}
.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
.max-price {
    text-align: right;
}

/*Стилизуем радиокнопки и чекбоксы*/
.filter-item,
.filter-grid,
.filter-features {
    border: none;
    padding: 0;
    margin: -5px;
}
.filter-features{
    margin-top: 50px;
}
.filter-features-list,
.filter-grid-list,
.sortr-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
.filter-grid-item  {
    padding-top: 15px;
    display: flex;
}
.filter-features-item {
    padding-top: 15px;
    display: flex;
}
.filter-grid-input,
.filter-features-input {
    display: none;
}
.filter-grid-input + .filter-grid-label,
.filter-features-input + .filter-features-label {
    position: relative;
    margin-left: 40px;
}
.filter-grid-input + .filter-grid-label::before,
.filter-features-input + .filter-features-label::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -35px;
    background-color: #ffffff;
    opacity: 0.4;
}
.filter-grid-value:checked + .filter-grid-label::before {
    background-image: url("../img/svg-nerds/radio-on.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
}
.filter-grid-input + .filter-grid-label::before {
    width: 25px;
    height: 25px;
    background-image: url("../img/svg-nerds/radio-off.svg");
    background-repeat: no-repeat;
}
.filter-grid-label:hover::before,
.filter-grid-input:checked + .filter-grid-label:hover::before {
    opacity: 1;
}
.filter-features-input + .filter-features-label::before {
    width: 27px;
    height: 27px;
    background-image: url("../img/svg-nerds/checkbox-off.svg");
    background-repeat: no-repeat;
}
.filter-features-input:checked + .filter-features-label::before {
    background-image: url("../img/svg-nerds/checkbox-on.svg");
    background-repeat: no-repeat;
    opacity: 0.4; 
}

.filter-item {
    display: flex;
}



.filter-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 0.18px;
    text-transform: uppercase;
    color: #000000; 
}
.grid {
    width: 260px;
    margin-right: 140px;    
}
.btn-filter {
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-top: 54px;
    line-height: 3.13;
    border-style: none;
}
.btn-filter:hover {
    background-color: #dfdfdf;
}
.btn-filter:active {
    opacity: 0.3;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}


/*Стилизуем блог Сортировки*/
.filter-title-gallery {
    width: 133px;
    height: 14px;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-left: 33px;
}
.gallery-maket {
    box-sizing: border-box;
    width: 800px;
    margin-left: auto;
    margin-top: 7px;
}
.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    
}
.sort-list,
.sort-list-arrow {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none; 
}
.sort-list {
    width: 280px;
    padding-left: 236px;
    padding-top: 7px;
}
.name-sort-link {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
}
.sort-list-arrow {
    width: 31px;
    padding-right: 10px;
}
.sort-link {
    opacity: 0.3;
    color: #000000;
    text-decoration: none;
    width: 11px;
    height: 10px;
}
/*Задаем ссылкам стрелочки*/
.down-arrow::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url("../img/svg-nerds/icon-down-dir.svg");
    background-repeat: no-repeat; 
}
.up-arrow::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    background-image: url("../img/svg-nerds/icon-up-dir.svg");
    background-repeat: no-repeat; 
}
/*Задаем ссылкам активности*/
.sort-link:hover {
    opacity: 0.6
}
.sort-link:active {
    opacity: 1;
}

/*Стилизуем каталог*/
/*Говорим каталогу, что он флекс*/
.templates-list {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 40px;
}
.template-item:nth-last-of-type(2n+1) {
    margin-left: 40px;
}
.template-item {
    padding: 0;
    width: 360px;
    margin-top: 81px; 
}
/*Задаем активности каталогу*/
.catalog-item {
    position: relative;
    padding: 0;
}
.alignment {
    margin-top: -15px;
}

.catalog-item::before {
    position: absolute;
    content: "";
    top:-40px;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    background-image: url("../img/svg-nerds/browser.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    opacity: 0.12;
}
.catalog-item:hover::before {
    opacity: 1;
}
/*Стилизуем инфо блог к шаблонам*/
.template-text {
    position: absolute;
    bottom: 8px;
    background-color: #eeeeee;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 231px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 35px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
}

.catalog-item:hover .template-text {
    display: block;
}
.template-name {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 500;
}
.template-name:active{
    opacity: 0.3;
}
.template-name:hover {
    color: #fb565a;
}
.template-info {
    color: #666666;
    line-height: 1.13;
}
.buy-template {
    display: inline-block;
    padding-top: 13px;
    padding-right: 40px;
    padding-bottom: 13px;
    padding-left: 40px;
    width: 200px;
    height: 50px;
    line-height: 1.13;
    background-color: #fb565a;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font: inherit;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
}
/*Пагинатор*/
.paginator-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: left;
    list-style: none;
    margin-top: 67px;
    margin-left: 42px;
}
  
.paginator-item {
    margin-right: 11px;
}
  
.btn-catolog {
    background-color: #eeeeee;
    padding: 13px 17px;
    border: 3px solid #eee;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}
.btn-catolog:hover {
    background-color: #dfdfdf;
}
.btn-catolog:active {
    opacity: 0.3;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}
  
.current {
    background: transparent;
}
  
.btn-catolog-next {
    padding-right: 67px;
    padding-left: 77px;
  }


/*Стилизуем подвал*/
.social-network {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 80px;
    margin-left: -20px;
}
.page-footer {
    display: flex;
    justify-content: space-between;
    min-height: 217px;
    align-items: center;
    vertical-align: center;

}

.footer-text {
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
    margin-right: 217px;
}
.friend  {
    display: block;
    margin: 0;
    color: #444444;
    line-height: 22px;
    margin-top: -3px;
}
.footer-text-strong {
    display: block;
    margin: 0;
    margin-bottom: 11px;
    width: 545px;
    height: 35px;
    font-family: "Roboto",Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.social-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20px;
    padding: 0;
    list-style: none;
}
.social-link {
    position: relative;
    margin-right: 80px;
    padding-right: 10px;
    width: 79px;
    height: 79px;
}
/*делаем активности соц.сетей*/
.social-link::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    position:relative;
    width: 79px;
    height: 79px;
    display: block;
    transform: translateY(50%);
    background-color:#e1e1e1;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.social-vk::before {
    background-image: url("../img/svg-nerds/vk-icon.svg");
}
.social-fb::before {
    background-image:  url("../img/svg-nerds/fb-icon.svg");
}
.social-in::before {
    background-image:  url("../img/svg-nerds/insta-icon.svg");
}
.social-link:hover::before {
    background-color: #e74246;
}
.social-link:active::before {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

