body {
    /*Стилизуем текст всего сайта*/ 
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: black;
    background-color: #ffffff;
}
.page-header {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Скрытые заголовки*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.inner-page-title {
    min-width: 1440px;
    min-height: 240px;
    font-size: 55px;
    font-weight: 500;
    text-align: center; 
    background-color: #eeeeee;
    margin: 0 auto;
    margin-bottom: 60px;
    color: #000000;
    line-height: 55px;
}


/*Стилизуем ссылки в nav*/
.site-nav a {
    text-decoration: none;
    color: black;
    list-style: none;
  }
.site-nav a:hover {
    color: #fb565a;
}
.site-nav a:active {
    color: rgba(0, 0, 0, 0.3);
}
.main-nav {
    display: flex;
    padding: 50px 20px 0;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #eeeeee;
    font-size: 16px;
    text-transform: uppercase;
}
.site-nav-link {
    display: block;
    padding: 12px 0;
    position: relative;
}
.logo:hover {
    opacity: 0.8;
}
.logo:active {
    opacity: 0.3;
}

.site-nav {
    list-style: none;
    display: flex;
    margin: 0 0 0 180px;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;   
}
.site-nav-item {
    padding: 0 23px;
}
.basket {
    color: black;
    position: relative;
    right: 0;
    margin-left: auto;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 15px; 
    text-transform: uppercase;
    text-decoration: none
}
.basket:hover {
    color: #fb565a;
}
.basket:active {
    color: rgba(0, 0, 0, 0.3);
}
.basket::before {
    content: "";
    position:absolute;
    width: 15px;
    height: 15px;
    display: block;
    background-image: url("../img/svg-nerds/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
}



/*Стилизуем особенности*/
.big-word {
    font-size: 55px;
    line-height: 1;
}
.small-word {
    font-size: 16px;
    line-height: 1.5;
}
.learn-more {
    background-color:#fb565a;
    font-size: 16px;
    line-height: 1.13;
    text-align: center;
    color: #ffffff;
}
.learn-more:hover {
    background-color: #e74246; 
}
.learn-more:active {
    background-color: #d7373b;
    color: (255, 255, 255, 0,3);
}

/*Наш сервис*/
.service{
    position: relative;
}
.service::before {
    content: "";
    position:absolute;
    width: 300px;
    height: 146px;
    display: block;
    /*background-color: red;*/
}
.service-web::before {
    background-image: url("../img/illustration-1.jpg");
    background-repeat: no-repeat; 
}
.service-applications {
    background-image: url("../img/illustration-2.jpg");
    background-repeat: no-repeat; 
}
.service-presentations {
    background-image: url("../img/illustration-3.jpg");
    background-repeat: no-repeat; 
}
.service-title {
    font-size: 24px;
    line-height: 1.25;
    color: black
}
.service-desk {
    font-size: 16px;
    line-height: 1.5;
}
/*Кнопки заказать в разных активностях*/
.order {
    width: 160px;
    height: 50px;
}
.order-web a {
    background-color: #fb565a;
    color: #ffffff;
}
.order-web a:hover {
    background-color:#e74246;
    
}
.order-web a:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
    
}
.order-applications a {
    background-color:#00ca74;
    color: #ffffff;
}
.order-applications a:hover {
    background-color:#00bc6c;
    
}
.order-applications a:active {
    background-color:#00aa62;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
    
}
.order-presentations a {
    background-color:#efc84a;
    color: #ffffff;
}
.order-presentations a:hover {
    background-color:#eab534;
    
}
.order-presentations a:active {
    background-color:#e5a722;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
    
}
/*Наши преимущества*/
.we-first {
    font-size: 45px;
    line-height: 1;
}
.we-second {
    font-size: 16px;
    line-height: 1.5;
}
.title-list {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.list-service li {
    font-size: 16px;
}

/*Наши партнёры*/
.our-partners {
    border-bottom: 1px solid #eeeeee;
}
.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 45px 0;
    border-bottom: 2px solid #eeeeee;
}
.partner-item {
    position: relative;
    flex-basis: 25%;
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    text-align: center;
}
.partner-item:not(:nth-of-type(4n+1))::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -2px;
    width: 2px;
    height: 52px;
    border-left: 2px solid #eeeeee;
    transform: translateY(50%);
}
.partner-logo {
    opacity: 0.2;
}
.partner-logo:hover {
    opacity:1;
}
.partner-logo:active {
    opacity:0.1;
}



/*Стилизуем форму обратной связи*/
.feedback {
    width: 306px;
    height: 33px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}
.write-us-form label {
    line-height: 18px;
    font-weight: 700;
}
  
.write-us-form input,
.write-us-form textarea {
    font: inherit;
    font-weight: normal;
    color: rgba(68, 68, 68, 0.5);
    border: 2px solid #d7dcde;
}
  
.write-us-form input:hover,
.write-us-form textarea:hover {
    border-color: #b4b9bb;
}
  
.write-us-form input:focus,
.write-us-form textarea:focus {
    outline: 0;
    color: #444444;
    border-color: #000000;
}
  
.write-us-form input:invalid,
.write-us-form textarea:invalid {
    color: #e74246;
    border-color: #e74246;
}
.send {
    width: 260px;
    height: 50px;
    color: white;
    background-color: #fb565a;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
}
.close {
    position: absolute;
    width: 21px;
    height: 21px;
    opacity: 0.3;
}
.close::before,
.close::after {
    position: absolute;
    left: 15px;
    content: "";
    height:21px;
    width: 21px;
    width: 2px;
    background-color:red;
}
.close::before {
    transform: rotate(45deg);
    }
.close::after {
    transform: rotate(-45deg);
}
.close:hover {
    opacity: 1;
}
.close:active {
    opacity: 0.1;
}

/*Стилизуем радиокнопки и чекбоксы*/
.grid {
    width: 260px;
    margin-right: 140px;
    border: none;
}
.filter-option fieldset {
    border: none;
}
.btn-filter {
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}
/*Стилизуем каталог*/
/*Говорим каталогу, что он флекс*/
.templates-list {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
}
.template-item:nth-last-of-type(2n+1) {
    margin-left: 40px;
}
.template-item {
    padding-top: 0;
    width: 360px;
    padding-bottom: 73px;
    margin-top: 80px; 
}
/*Задаем активности каталогу*/
.catalog-item {
    position: relative;
    padding: 0;
}
.catalog-item::before {
    position: absolute;
    content: "";
    top:-39px;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    background-image: url("../img/svg-nerds/browser.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    opacity: 0.12;
}
.catalog-item:hover::before {
    opacity: 1;
}
/*Стилизуем инфо блог к шаблонам*/
.template-text {
    background-color: #eeeeee;
    display: ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 231px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 35px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
}
.template-name {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 500;
}
.template-info {
    color: #666666;
    line-height: 1.13;
}
.buy-template {
    width: 200px;
    height: 50px;
    line-height: 1.13;
    background-color: #fb565a;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font: inherit;
    display: inline-block;
    padding-top: 13px;
    padding-right: 40px;
    padding-bottom: 13px;
    padding-left: 40px;
    vertical-align: middle;
    border-style: none;
}
/*Пагинатор*/
.paginator {
    display: inline-block;
}
.paginator a {
    display: inline-block;
    min-width: 20px;
    height: 40px;
    padding: 0 11px;
    text-align: center;
    line-height: 40px;
    background-color: #eeeeee;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    color: black;
    }
.paginator .current {
    pointer-events: none;
    cursor: default;
    background-color: #ffffff;
    box-shadow:inset 0 0 0 2px #dbdbdb;
}
.btn-catolog {
    line-height: 18px;
    color: inherit;
    background-color: #eeeeee;
}
.btn-catalog a:hover {
    background-color: #dfdfdf;
}
.btn-catalog:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}


/*Стилизуем подвал*/
.main-footer {
    width: 1440px;
    height: 217px;
    background-color: white;
}
.friend {
    font-size: 36px;
    line-height: 1px;
    font-weight: bold;
}
.discount {
    font-size: 16px;
    line-height: 1.38px;
}
.social-list {
    display: inline-block;
    list-style: none;
    width: 79px;
    height: 79px; 
}
.social-link {
    position: relative;
}
.social-link::before {
    content: "";
    position:relative;
    width: 79px;
    height: 79px;
    display: block;
    background-color:#e1e1e1;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.social-vk::before {
    background-image: url("../img/svg-nerds/vk-icon.svg");
}
.social-fb::before {
    background-image:  url("../img/svg-nerds/fb-icon.svg");
}
.social-in::before {
    background-image:  url("../img/svg-nerds/insta-icon.svg");
}