body {
  /*Стилизуем текст всего сайта*/
  /* Блочная модель */
  min-width: 1200px;
  margin: 0;
  padding: 0;
  /* Типографика */
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  /* Оформление */
  line-height: 24px;
  background-color: #ffffff;
}
.container {
  /* Блочная модель */
  width: 1160px;
  margin: 0 auto;
}
.container-adress {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
.page-header {
  /* Блочная модель */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* Оформление */
  background-color: #eeeeee;
}
.page-header .container {
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header-shop {
  /* Блочная модель */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* Оформление */
  background-color: #eeeeee;
}
/*Скрытые заголовки*/
.visually-hidden {
  /* Позиционирование */
  position: absolute;
  /* Блочная модель */
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  /* Разное */
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.inner-page-title {
  /* Блочная модель */
  width: 100%;
  height: 100px;
  margin: 0;
  margin-bottom: 35px;
  padding-bottom: 63px;
  padding-top: 71px;
  padding-right: 0;
  /* Типографика */
  font-size: 55px;
  font-family: inherit;
  text-align: center; 
  color: #000000;
  /* Оформление */
  background-color: #eeeeee;
  line-height: 1; 
}
/*Стилизуем ссылки в nav*/
.site-nav-link {
  text-decoration: none;
  color: black;
  list-style: none;
}
.site-nav-link:hover {
  color: #fb565a;
}
.site-nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-nav-link-active:hover {
  color: black;
}
.main-nav {
  /* Блочная модель */
  display: flex;
  padding: 0px;
  flex-wrap: no-wrap;
  box-sizing: border-box;
  margin-right: 280px;
  margin-top: 12px;
  /* Типографика */
  font-size: 16px;
  text-transform: uppercase;
  /* Оформление */
  background-color: #eeeeee;
}
.site-nav-link {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  display: block;
  padding: 12px 0;
  /* Типографика */
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.88;
}
.site-nav-link-active::after {
  /* Позиционирование */
  content: "";
  position: absolute;
  /* Блочная модель */
  display: block;
  width: 100%;
  height: 2px;
  /* Оформление */
  background-color: #fb565a;
}
.logo {
  top: 50px;
  left:140px;
  padding-top: 49px;
  margin-left: -2px;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.3;
}
.site-nav {
  /* Блочная модель */
  display: flex;
  margin: 0px;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;   
  padding-top: 51px;
  list-style: none;
}
.site-nav-item {
  padding: 0 23px;
}
.basket {
  /* Позиционирование */
  position: relative;
  left: 248px;
  top: 58px;
  /* Блочная модель */
  display: block;
  margin-right: -34px;
  padding-top: 4px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 0px;
  /* Типографика */
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  color: black;
  /* Оформление */
  line-height: 1.88;
  
}
.basket::before {
  /* Позиционирование */
  content: "";
  position:absolute;
  top: 16%;
  left: -27px;
  /* Блочная модель */
  width: 15px;
  height: 15px;
  /* Оформление */
  background-image: url("../img/svg-nerds/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* Анимация */
  transform: translateY(-50%);
}
.basket:hover {
  color: #fb565a;
}
.basket:active {
  color: rgba(0, 0, 0, 0.3);
}
/*стилизуем слайды*/
.slider {
  position: relative;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 80px;
  background-color: #eeeeee;
}
/*.slider-container {
  width: 1199px;
  height: 450px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}*/
.slider-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.button {
  /* Блочная модель */
  display: inline-block;
  padding-top: 19px;
  padding-right: 55px;
  padding-bottom: 15px;
  padding-left: 53px;
  margin-bottom: 80px;
  /* Типографика */
  vertical-align: middle;
  font: inherit;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  /* Оформление */
  border-radius: 2px;
  background-color: #fb565a;
  border-style: none;
  cursor: pointer;
}
.button:hover {
  background-color: #e74246;
}
.button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b
}
.slider-item {
  /* Блочная модель */
  display: none;
  width: 1200px;
  height: 450px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
}
.slider-item-active {
  display: block;
}
.slider-item:nth-of-type(1) {
  background-color: #eeeeee;
  background-image: url("../img/slide1-picture.png");
  background-position: right 10% bottom 75%;
  background-repeat: no-repeat;
}
.slider-item:nth-of-type(2) {
  background-color: #eeeeee;
  background-image: url("../img/slide2-picture.png");
  background-position: right 10% bottom 75%;
  background-repeat: no-repeat;
}
.slider-item:nth-of-type(3) {
  background-color: #eeeeee;
  background-image: url("../img/slide3-picture.png");
  background-position: right 10% bottom 75%;
  background-repeat: no-repeat;
}
.slider-item-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
  color: #000000;
}
.slider-text {
  /* Блочная модель */
  width: 360px;
  height: 40px;
  margin-bottom: 45px;
  margin-top: -28px;
  /* Типографика */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}
.slider input[type="radio"] {
  display: none;
}
.slider-controls {
  position: absolute;
  bottom: 115px;
  right: 50%;
  transform: translateX(50%);
}
.slider-toogle-label {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  display: inline-block;
  margin-top: 0;
  margin-right: 8px;
  margin-bottom: 0;
  margin-left: 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  vertical-align: middle;
  /* Оформление */
  border: 5px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  /* Анимация */
  transition: background-color 0.2s;
}
.slider-toogle:checked + .slider-toogle-label::before {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border: 3px solid #eeeeee;
  border-radius: 50%;
  transform: translateX(50%) translateY(50%);
}  
/*Стилизуем особенности*/
/*Наш сервис*/
.our-services{
  margin-top: -171px;
  margin-left: -66px;
  border-bottom: 2px solid #eeeeee;
 
}
.service-list {
  /* Блочная модель */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding-top: 0;
  padding-right: 32px;
  padding-left: 20px;
  padding-bottom: 80px; 
  list-style: none;
}
.service {
  position: relative;
  width: 300px;
  margin-top: 152px;
  padding-top: 145px;
}
.service-title {
  margin-top: 18px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
  color: black;
}
.service-desk {
  width: 244px;
  padding-bottom: 15px;
  margin-top: -6px;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}
.service::before {
  content: "";
  position:absolute;
  top: -7px;
  display: block;
  width: 300px;
  height: 145px;
  background-color:#eeeeee;
}
.service-web::before {
  background-image: url("../img/illustration-1.jpg");
  background-repeat: no-repeat; 
  background-color: #fb565a;
  background-position: center;
}
.service-applications::before {
  background-image: url("../img/illustration-2.jpg");
  background-repeat: no-repeat;
  background-color: #00ca74; 
  background-position: center;
}
.service-presentations::before {
  background-image: url("../img/illustration-3.jpg");
  background-repeat: no-repeat; 
  background-color: #efc849;
  background-position: center;
}
/*Блок Веб страницы выравнивание*/
.service-web {
  margin-left: -8px;
}
.service-web-title {
  margin-left: 2px;
}
.service-web-desk {
  margin-top: -7px;
}
/*Блок Приложения выравнивание*/
.service-applications {
  margin-right: -3px;
}
.service-applications-desk{
  margin-left: 2px;
  margin-top: -7px;
}

/*Блок Презентации выравнивание*/
.service-presentations {
  margin-right: -24px;
}
/*Кнопки заказать в разных активностях*/
.order {
  display: block;
  width: 80px;
  height: 16px;
  padding-top: 15px;
  padding-right: 38px;
  padding-bottom: 17px;
  padding-left: 40px;
  line-height: 1.13;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font: inherit;
}
.order-web {
  padding-right: 40px;
  padding-bottom: 19px;
  margin-left: 3px;
  border-radius: 3px;
  background-color: #fb565a;
}
.order-web:hover {
  background-color:#e74246;
}
.order-web:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  
}
.order-applications {
  padding-right: 40px;
  padding-bottom: 19px;
  margin-left: 1px;
  border-radius: 3px;
  color: #ffffff;
  background-color:#00ca74;
  
}
.order-applications:hover {
  background-color:#00bc6c;
}
.order-applications:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:#00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.order-presentations {
  padding-right: 40px;
  padding-bottom: 19px;
  margin-left: 0;
  border-radius: 3px;
  color: #ffffff;
  background-color:#efc84a;
}
.order-presentations:hover {
  background-color:#eab534;
}
.order-presentations:active {
  color: rgba(255, 255, 255, 0.3);
  background-color:#e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
/*Наши преимущества*/
.about-company {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.about-company-text {
  display: flex;
  flex-direction: column;
  width: 660px;
}
.about-company-p {
  margin-top: 35px;
  font-size: 16px;
  line-height: 1.5;
}
.about-company-strong {
  display: block;
  padding-top: 39px;
  padding-bottom: 35px;
  font: inherit;
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}
.title-list {
  padding-top: 21px;
  margin-bottom: 12px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
}
.list-service {
  margin: 0;
  padding: 0px;
  line-height: 48px;
  list-style: none;
  
}
.list-service li {
  position: relative;
  padding-left:37px;
}
.list-service li::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: -3px;
  height: 2px;
  width: 25px;
  margin-left: 4px;
  background-color: #fb565a;
}
.indicators {
  width: 360px;
  margin-left: auto;
  text-align: center;
  margin-top: 40px;
}
.indicators-caption {
  display: block;
  margin-left: 1px;
  margin-top: 29px;
  color: #000000;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
.indicators-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 16px;
}
.indicators-item {
  width: 105px;
  text-align: left;
}
.in-item-3 {
  margin-right: 18px;
}
.indicators-text {
  margin-top: 18px;
  vertical-align: baseline;
  line-height: 1.13;
}
.indicators-value {
  display: block;
  padding-top: 43px;
  padding-bottom: 18px;
  margin-top: 0; 
  color: #000000;
  font-size: 45px;
  font-weight: bold;
  line-height: 0.22;
}
.indicators-value sup{
  display: inline-block;
  vertical-align: bottom;
  font-size: 26px;
  margin-top: 9px;
}
/*Наши партнёры*/
.our-partners {
  position: relative;
  min-width: 1160px; 
  margin-top: 60px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
.partners-list {
  display: flex;
  margin: 0;
  padding: 38px 0;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.partner-item {
  position: relative;
  flex-basis: 25%;
  flex-shrink: 1;
  flex-grow: 1;
  height: 100%;
  text-align: center
}
.partner-item:not(:nth-of-type(4n+1))::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: -1px;
  width: 2px;
  height: 52px;
  border-left: 2px solid #eeeeee;
  transform: translateY(50%);
}
.barbershop:not(:nth-of-type(2n+1))::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: -11px;
  width: 2px;
  height: 52px;
  border-left: 2px solid #eeeeee;
  transform: translateY(50%);
}
.bear:not(:nth-of-type(2n+1))::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 9px;
  width: 2px;
  height: 52px;
  border-left: 2px solid #eeeeee;
  transform: translateY(50%);
}
.partner-logo {
  opacity: 0.2;
}
.partner-logo:hover {
  opacity:1;
}
.partner-logo:active {
  opacity:0.1;
}
.htmlacademy-logo {
  margin-right: 30px;
  margin-top: 17px;
}
.borodinski-logo {
  margin-right: 10px;
  margin-top: 7px;
}
.pink-logo {
  margin-left: 10px;
  margin-top: 5px;
}
.mishka-logo {
  margin-left: 30px;
  margin-top: 14px;
}
/*Cтилизуем блок карты для главной страницы*/
.map {
  display: block;
  position: relative;
}
.iframe-map {
  position: relative; 
  margin-top: 79px;
  width: 100%;
  height: 415px;
  border-style: none;
}
.map-marker {
  position: absolute;
  left: 372px;
  top: -397px;
  height: auto;
  width: 367px;
}
.adress {
  /* Позиционирование */
  position: absolute;
  top: -367px;
  left: -20px;
  /* Блочная модель */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 319px;
  height: 308px;
  box-sizing: border-box;
  margin-left: 20px;
  padding-top: 55px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  /* Оформление */
  background-color: white;
}
.map-title {
  height: 17px;
  margin-right: 26px;
  margin-top: 56px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.67;
}
.map-text {
  margin-right: 17px;
  margin-top: 35px;
  line-height: 1.13;
  font-size: 16px;
}
.map-phone {
  margin-right: 48px;
  margin-bottom: 34px;
  margin-top: 16px;
  font-size: 16px;
  font-family: inherit;
}
.map-phone-link {
  text-decoration: none;
  color: #000000;
}
.btn-contact {
  /* Блочная модель */
  display: inline-block;
  width: 220px;
  height: 50px;
  padding-top: 18px;
  padding-right: 40px;
  padding-bottom: 13px;
  padding-left: 40px;
  margin-bottom: 60px;
  box-sizing: border-box;
  /* Типографика */
  vertical-align: middle;
  font: inherit;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: white;
  /* Оформление */
  background-color: #fb565a;
  border-radius: 3px;
  cursor: pointer;
}
.btn-contact:hover {
  background-color: #e74246;
}
.btn-contact:active {
  opacity: 0.3;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}
/*Cтилизуем блок карты для страницы католога*/
.map-catolog {
  position: relative;
  display: block;
  margin-top: -67px;
}
.map-marker-shop {
  position: absolute;
  left: 375px;
  top: -400px;
}
.adress-shop {
  /* Позиционирование */
  position: absolute;
  top: -369px;
  left: -19px;
  /* Блочная модель */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 319px;
  height: 308px;
  margin-left: 20px;
  padding-top: 55px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  /* Оформление */
  background-color: white;
  box-sizing: border-box;
}
/*Стилизуем форму обратной связи*/
.write-us {
  display: none;
}
.write-us-show {
  /* Позиционирование */
  position: absolute;
  top: 1684px;
  right: 16%;
  /* Блочная модель */
  display: block;
  width: 960px;
  height: 590px;
  /* Оформление */
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  background-color: #ffffff;
  /* Анимация */
  animation: bounce 0.6s;
}
.write-us-show-error {
  animation: shake 0.6s;
}
/*Анимация формы*/
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
/*анимация формы при ошибке*/
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.write-us-form {
  position: relative;
  width: 960px;
  height: 590px;
}
.feedback {
  display: block;
  width: 311px;
  height: 33px;
  margin-left: 100px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500; 
}
.feedback-column {
  display: flex;
  margin-left: 100px;
}
.feedback-label {
  display: block;
  padding-bottom: 12px;
  margin-left: 100px;
  line-height: 1.13;
  font-weight: 700;
  color: #000000;
}
.feedback-input-text,
.feedback-input-email {
  width: 360px;
  height: 50px;
  box-sizing: border-box;
  padding-left: 15px;
  vertical-align: middle;
  font: inherit;
  color: rgba(68, 68, 68, 0.5);
  border: solid 2px #d7dcde;
}
.feedback-input-text {
  margin-right: 40px;
}
.feedback-textarea {
  width: 760px;
  height: 118px;
  padding: 11px;
  margin-bottom: 47px;
  margin-left: 100px;
  box-sizing: border-box;
  border: solid 2px #d7dcde;
  resize: none;
}
.feedback-input-text:hover,
.feedback-input-email:hover,
.feedback-textarea:hover {
  border-color: #b4b9bb;
}
.feedback-input-text:focus,
.feedback-input-email:focus,
.feedback-textarea:focus {
  outline: 0;
  color: #444444;
  border-color: #000000;
}
.feedback-input-text:invalid,
.feedback-input-email:invalid,
.feedback-textarea:invalid {
  color: #e74246;
  border-color: #e74246;
}
.send {
  width: 260px;
  height: 50px;
  margin-left: 100px;
  margin-bottom: 85px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: #fb565a;
  border: none;
}
.send:hover {
  background-color: #e74246;
}
.send:active {
  opacity: 0.3;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}
.close  {
  position: absolute;
  top: 76px;
  right: 90px;
  display: block;
  width: 21px;
  height: 21px;
  text-align: center;
  border: none;
  opacity: 0.3;
  cursor: pointer;
  background-color:transparent;
}
.close::before,
.close::after {
  position: absolute;
  left: 15px;
  content: "";
  height:21px;
  width: 2px;
  background-color:red;
  transform: translateX(849px), translateY(491px);
}
.close::before {
  transform: rotate(45deg);
  }
.close::after {
  transform: rotate(-45deg);
}
.close:hover {
  opacity: 1;
}
.close:active {
  opacity: 0.1;
}
/*страничка католога*/
.filters {
  width: 300px;
  padding: 0px;
  margin-top: 23px;
}
.store {
  display: flex;
  padding-top: 0px;
  padding-bottom: 60px;
}
/*Стилизуем блок Стоимость*/
.filter-item {
  display: flex;
  margin-left: 0;
  /*width: 260px;
  margin: 50px auto; 
  margin: 0;
  padding: 0;
  border: none;*/
}
.range-filter {
  width: 260px;
  margin-top: 57px;
  margin-left: 5px;
  margin-bottom: 62px;
}
.cost-legend {
  margin-left: 4px;
  font-family: "Roboto","Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 50px;
} 
.range-controls .toggle-max {
  left: 110px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  font-size: 16px;
  text-transform: uppercase;
}
.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.max-price {
  text-align: right;
}
/*Стилизуем радиокнопки и чекбоксы*/
.filter-item,
.filter-grid,
.filter-features {
  padding: 0;
  margin: -5px;
  border: none;
}
.filter-features{
  margin-top: 49px;
}
.filter-features-list,
.filter-grid-list,
.sortr-list {
  margin: 0;
  padding: 0;
  margin-top: 0;
  list-style: none;
}
.filter-grid-item  {
  display: flex;
  padding-top: 15px;
}
.filter-features-item {
  display: flex;
  padding-top: 15px;
}
.filter-grid-input,
.filter-features-input {
  display: none;
}
.filter-grid-input + .filter-grid-label,
.filter-features-input + .filter-features-label {
  position: relative;
  margin-left: 40px;
}
.filter-grid-input + .filter-grid-label::before,
.filter-features-input + .filter-features-label::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -35px;
  background-color: #ffffff;
  opacity: 0.4;
}
.filter-grid-value:checked + .filter-grid-label::before {
  background-image: url("../img/svg-nerds/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}
.filter-grid-input + .filter-grid-label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/svg-nerds/radio-off.svg");
  background-repeat: no-repeat;
}
.filter-grid-label:hover::before,
.filter-grid-input:checked + .filter-grid-label:hover::before {
  opacity: 1;
}
.filter-features-label:hover::before,
.filter-features-input:checked + .filter-features-label:hover::before {
  opacity: 1;
}
.filter-features-input + .filter-features-label::before {
  width: 27px;
  height: 27px;
  background-image: url("../img/svg-nerds/checkbox-off.svg");
  background-repeat: no-repeat;
}
.filter-features-input:checked + .filter-features-label::before {
  background-image: url("../img/svg-nerds/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.4; 
}
.filter-title {
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  color: #000000; 
}
.grid {
  width: 260px;
  margin-right: 140px;    
}
.btn-filter {
  /* Блочная модель */
  width: 260px;
  height: 50px;
  margin-top: 54px;
  /* Типографика */
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  line-height: 3.13;
  /* Оформление */
  background-color: #eeeeee;
  border-style: none;
}
.btn-filter:hover {
  background-color: #dfdfdf;
}
.btn-filter:active {
  opacity: 0.3;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}
/*Стилизуем блог Сортировки*/
.bar {
  width: 30%;
  margin-left: 20%; 
}
.filter-title-gallery {
  /* Блочная модель */
  width: 133px;
  height: 14px;
  /* Типографика */
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.gallery-template {
  width: 760px;
  margin-left: auto;
  margin-top: 7px;
  box-sizing: border-box;
}
.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.sort-list,
.sort-list-arrow {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none; 
}
.sort-list {
  width: 280px;
  padding-left: 210px;
  padding-top: 2px;
}
.at-the-price {
  margin-left: 9px;
}
.name-sort-link {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
}
.sort-list-arrow {
  width: 31px;
  margin-bottom: 8px;
  padding-right: 10px;
}
.sort-link {
  width: 11px;
  height: 10px;
  text-decoration: none;
  color: #000000;
  opacity: 0.3;
}
/*Задаем ссылкам стрелочки*/
.down-arrow::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../img/svg-nerds/icon-down-dir.svg");
  background-repeat: no-repeat; 
}
.up-arrow::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../img/svg-nerds/icon-up-dir.svg");
  background-repeat: no-repeat; 
}
/*Задаем ссылкам активности*/
.sort-link:hover {
  opacity: 0.6
}
.sort-link:active {
  opacity: 1;
}
/*Стилизуем каталог*/
/*Говорим каталогу, что он флекс*/
.templates-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}
.template-item {
  width: 360px;
  padding: 0;
  margin-top: 81px; 
}
/*Задаем активности каталогу*/
.catalog-item {
  position: relative;
  padding: 0;
}
.alignment {
  margin-top: -15px;
}
.catalog-item::before {
  /* Позиционирование */
  position: absolute;
  content: "";
  top:-40px;
  /* Блочная модель */
  width: 100%;
  height: 40px;
  /* Оформление */
  background-color: #ffffff;
  background-image: url("../img/svg-nerds/browser.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  opacity: 0.12;
}
.catalog-item:hover::before {
  opacity: 1;
}
/*Стилизуем инфо блог к шаблонам*/
.template-text {
  /* Позиционирование */
  position: absolute;
  bottom: 8px;
  /* Блочная модель */
  display: none;
  width: 100%;
  min-height: 231px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding-top: 35px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
   /* Оформление */
  background-color: #eeeeee;
}
.catalog-item:hover .template-text {
  display: block;
}
.template-name {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.template-name:active{
  opacity: 0.3;
}
.template-name:hover {
  color: #fb565a;
}
.template-info {
  color: #666666;
  line-height: 1.13;
}
.buy-template {
  /* Блочная модель */
  display: inline-block;
  width: 200px;
  height: 50px;
  padding-top: 13px;
  padding-right: 40px;
  padding-bottom: 13px;
  padding-left: 40px;
  box-sizing: border-box;
  /* Типографика */
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font: inherit;
  line-height: 1.13;
  color: #ffffff;
  /* Оформление */
  background-color: #fb565a;
  border-style: none;
}
.buy-template:hover {
  background-color: #e74246;
}
.buy-template:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}
/*Пагинатор*/
.paginator-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: left;
  list-style: none;
  margin-top: 67px;
}
.paginator-item {
  margin-right: 11px;
}
.btn-catolog {
  /* Блочная модель */
  padding: 13px 17px;
   /* Типографика */
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  /* Оформление */
  background-color: #eeeeee;
  border: 3px solid #eee;
  border-radius: 3px;
}
.btn-catolog:hover {
  background-color: #dfdfdf;
}
.btn-catolog:active {
  opacity: 0.3;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}
.current {
  /* Блочная модель */
  padding: 13px 17px;
   /* Типографика */
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  /* Оформление */
  background-color: transparent;
  border: 3px solid #eee;
  border-radius: 3px;
}
.btn-catolog-next {
  padding-right: 67px;
  padding-left: 77px;
}
/*Стилизуем подвал*/
.social-network {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 70px;
  margin-left: -20px;
}
.page-footer {
  display: flex;
  justify-content: space-between;
  min-height: 217px;
  align-items: center;
  vertical-align: center;
}
.footer-text {
  margin-right: 217px;
  margin-bottom: 9px;
}
.friend  {
  display: block;
  margin: 0;
  margin-top: 0px;
  line-height: 22px;
  color: #444444;
}
.footer-text-strong {
  /* Блочная модель */
  display: block;
  width: 545px;
  height: 35px;
  margin: 0;
  margin-bottom: 11px;
  margin-top: 0px;
  /* Типографика */
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.social-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 20px;
  padding: 0;
  list-style: none;
}
.social-link {
  position: relative;
  width: 79px;
  height: 79px;
  margin-right: 80px;
  padding-right: 10px;
}
/*делаем активности соц.сетей*/
.social-link::before {
  /* Позиционирование */
  position:relative;
  content: "";
  /* Блочная модель */
  display: flex;
  width: 79px;
  height: 79px;
  align-items: center;
  justify-content: center;
  /* Оформление */
  background-color:#e1e1e1;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  /* Анимация */
  transform: translateY(50%);
}
.social-vk::before {
  background-image: url("../img/svg-nerds/vk-icon.svg");
}
.social-fb::before {
  background-image:  url("../img/svg-nerds/fb-icon.svg");
}
.social-in::before {
  background-image:  url("../img/svg-nerds/insta-icon.svg");
}
.social-link:hover::before {
  background-color: #e74246;
}
.social-link:active::before {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}